h1 {
    margin-left: 15px;
}

paper-fab[icon="add"] {
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-bottom: 20px;
    margin-right: 20px;
    color: #FFF;
    background-color: #FFC107;
}