h1, label, p, h3 {
  margin-left: 60px;
}

.list {
    width: 20em;
    margin:0 auto;
    list-style-type: square;
    font-size: 15px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.middle {
    text-align: center;
    display: block;
}
#jumbo {
    padding-top: 200px;
    background-image: url(images/sf.png);
    vertical-align: middle;
    text-align: center;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-bottom: -50px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: cadetblue;
}
.jumbotron {
    display: block;
    background-color: #24436d;
    color: #FFFFFF;
}

#social img {
    height: 60px;
    width: 60px;
}

#social {
    margin-left: 30px;
}

#social li {
    display: inline-block;
    padding: 5px;
}

.progress {
    width: 600px;
    margin:0 auto;
    margin-bottom: 70px;
    margin-top: 50px;

}

#jumbo2 {
    margin-bottom: -20px;
    background-image: url(images/sfbanner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-top: 150px;
    padding-bottom: 150px;
}

#progress {
    width: 50%;
}

#skills {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 150px;
}
#skills img {
    height: 200px;
    width: 200px;
}

#team {
    margin-bottom: 0px;
    padding-bottom: 100;
    padding-top: 100px;

}


#contact {
    margin-left: 60px;
}



footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #373A42;
}
