.gray-text {
        color: grey;
}

.cardd {
        padding-top: 10px;
        align-items: center;
}

#profile {
        vertical-align: middle;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        object-fit: cover;
}